{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(lieuForm) }}
    {{ form_widget(lieuForm) }}
    <button type="submit" class="btn btn-primary">Valider</button>
    {{ form_end(lieuForm) }}
{% endblock %}

{% block title %}
Créer un lieu
{% endblock %}

