{% extends 'base.html.twig' %}
{% block title %}Imports des utilisateurs{% endblock %}
{% block body %}
    <h1 class="h1Page">Import des utilisateurs</h1>

    <div class="container col-sm-6">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="mt-4 d-flex justify-content-center gap-2">
            <button class="btn btn-primary mt-4 d-flex justify-content-center ">
                {{ button_label|default('Importer') }}
            </button>
        </div>
        {{ form_end(form) }}
    </div>


{% endblock %}



