{% extends 'base.html.twig' %}
{% block body %}
    <h1>Modifier profil</h1>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button class="btn btn-primary">
                    {{ button_label|default('Modifier') }}
                </button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}



