:root {

    --main-text-color: #012b45;

    --main-bg-color: #e7eff6;
    --secondary-bg-color: #adcbe3;
    --button-color: #66a0c5;
    --button-hover-color: #3381b1;
    --link-color: #00619e;
}



html, body {
    height: 100%;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
}

header {
    background-color: var(--secondary-bg-color);
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
    background-color: var(--main-bg-color)
}

.btn-primary, .btn-primary:visited {
    background-color: var(--button-color) ;
    border-color: var(--button-color);
}
.btn-primary:hover, .btn-primary:active {
    background-color: var(--button-hover-color);
    border-color: var(--button-hover-color);
}
a {
    color: var(--link-color);
}
